.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.952148;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.961000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.876465;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.848145;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.811523;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.975586;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.120605;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.120605;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc2{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc1{text-shadow:-0.015em 0 rgb(102,102,51),0 0.015em rgb(102,102,51),0.015em 0 rgb(102,102,51),0 -0.015em  rgb(102,102,51);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc2{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(102,102,51);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.179360px;}
._1{width:1.609632px;}
._2{width:2.801952px;}
._3{width:4.250176px;}
.fc1{color:rgb(102,102,51);}
.fc0{color:rgb(0,0,0);}
.fs9{font-size:17.376000px;}
.fs7{font-size:28.896000px;}
.fs6{font-size:31.776000px;}
.fs0{font-size:33.696000px;}
.fs2{font-size:34.656000px;}
.fs4{font-size:40.416000px;}
.fs3{font-size:42.336000px;}
.fs1{font-size:59.616000px;}
.fs8{font-size:72.096000px;}
.fs5{font-size:88.416000px;}
.y1{bottom:0.000000px;}
.y0{bottom:36.000000px;}
.y10{bottom:40.848000px;}
.yf{bottom:51.500000px;}
.y3{bottom:62.208000px;}
.y2{bottom:71.568000px;}
.y7{bottom:86.688000px;}
.y6{bottom:96.048000px;}
.y5{bottom:105.430000px;}
.y4{bottom:114.790000px;}
.ya{bottom:144.310000px;}
.y9{bottom:155.590000px;}
.yb{bottom:172.420000px;}
.y13{bottom:419.930000px;}
.y17{bottom:426.170000px;}
.y12{bottom:453.070000px;}
.y16{bottom:464.110000px;}
.ye{bottom:470.830000px;}
.yd{bottom:488.830000px;}
.y11{bottom:489.790000px;}
.y15{bottom:502.030000px;}
.y14{bottom:507.550000px;}
.y8{bottom:526.060000px;}
.yc{bottom:555.580000px;}
.hd{height:12.972609px;}
.ha{height:21.573234px;}
.h2{height:23.396344px;}
.h8{height:23.723391px;}
.h4{height:25.873547px;}
.h6{height:27.371578px;}
.h5{height:31.607297px;}
.h3{height:47.692800px;}
.hc{height:55.585734px;}
.h7{height:61.735781px;}
.hb{height:68.168391px;}
.he{height:87.941109px;}
.h9{height:522.500000px;}
.h1{height:540.000000px;}
.h0{height:612.000000px;}
.w3{width:395.880000px;}
.w2{width:396.120000px;}
.w1{width:621.000000px;}
.w4{width:698.000000px;}
.w0{width:792.000000px;}
.x1{left:0.000000px;}
.x6{left:47.000000px;}
.x9{left:50.400000px;}
.xa{left:59.280000px;}
.x8{left:63.384000px;}
.x3{left:98.904000px;}
.x5{left:108.980000px;}
.x0{left:116.500000px;}
.x2{left:120.020000px;}
.x7{left:318.340000px;}
.x4{left:396.120000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.572480pt;}
._1{width:2.146176pt;}
._2{width:3.735936pt;}
._3{width:5.666901pt;}
.fs9{font-size:23.168000pt;}
.fs7{font-size:38.528000pt;}
.fs6{font-size:42.368000pt;}
.fs0{font-size:44.928000pt;}
.fs2{font-size:46.208000pt;}
.fs4{font-size:53.888000pt;}
.fs3{font-size:56.448000pt;}
.fs1{font-size:79.488000pt;}
.fs8{font-size:96.128000pt;}
.fs5{font-size:117.888000pt;}
.y1{bottom:0.000000pt;}
.y0{bottom:48.000000pt;}
.y10{bottom:54.464000pt;}
.yf{bottom:68.666667pt;}
.y3{bottom:82.944000pt;}
.y2{bottom:95.424000pt;}
.y7{bottom:115.584000pt;}
.y6{bottom:128.064000pt;}
.y5{bottom:140.573333pt;}
.y4{bottom:153.053333pt;}
.ya{bottom:192.413333pt;}
.y9{bottom:207.453333pt;}
.yb{bottom:229.893333pt;}
.y13{bottom:559.906667pt;}
.y17{bottom:568.226667pt;}
.y12{bottom:604.093333pt;}
.y16{bottom:618.813333pt;}
.ye{bottom:627.773333pt;}
.yd{bottom:651.773333pt;}
.y11{bottom:653.053333pt;}
.y15{bottom:669.373333pt;}
.y14{bottom:676.733333pt;}
.y8{bottom:701.413333pt;}
.yc{bottom:740.773333pt;}
.hd{height:17.296812pt;}
.ha{height:28.764312pt;}
.h2{height:31.195125pt;}
.h8{height:31.631187pt;}
.h4{height:34.498062pt;}
.h6{height:36.495437pt;}
.h5{height:42.143062pt;}
.h3{height:63.590400pt;}
.hc{height:74.114312pt;}
.h7{height:82.314375pt;}
.hb{height:90.891188pt;}
.he{height:117.254813pt;}
.h9{height:696.666667pt;}
.h1{height:720.000000pt;}
.h0{height:816.000000pt;}
.w3{width:527.840000pt;}
.w2{width:528.160000pt;}
.w1{width:828.000000pt;}
.w4{width:930.666667pt;}
.w0{width:1056.000000pt;}
.x1{left:0.000000pt;}
.x6{left:62.666667pt;}
.x9{left:67.200000pt;}
.xa{left:79.040000pt;}
.x8{left:84.512000pt;}
.x3{left:131.872000pt;}
.x5{left:145.306667pt;}
.x0{left:155.333333pt;}
.x2{left:160.026667pt;}
.x7{left:424.453333pt;}
.x4{left:528.160000pt;}
}
